fastapi
uvicorn
requests
python-multipart
numpy==1.24.4
pydantic
argostranslate==1.8.0
click
argos-translate-files
flask
flask-babel
flask-session
flask-swagger
flask-swagger-ui
redis
apscheduler
langdetect
lexilang
